config/production.ts
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/uploads
/data
/public/img
/public/download
/radata
/migrations
/temp

# yarn.lock

# testing
/coverage

# production
/dist
/out

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

package-lock.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# package
/dist
/.next

test-report.html
.env/production.env

schema.gql
/radata
